/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

@import url('https://fonts.google.com/specimen/Poppins/tester');
@import url('https://fonts.googleapis.com/css?family=Pacifico:400');

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font: 1em/1.5;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 16px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  color:#1d241c;
  font-family: 'Poppins', sans-serif;
}

header {
  height: 100%;
  position: relative;
  background-image: 'Kata.jpeg' center no-repeat;
  background-size: cover;
}

header .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: 'Poppins', sans-serif;
}

header h1, header h2 {
  margin: 0;
}

header hgroup {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  border: 3px solid #fff;
  padding: .5em 3em;
  background-color: rgba(0, 0, 0, 0.2);
}

header .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background:#333 center no-repeat;
  opacity: 0.8;  
}

.site {
  padding: 20em 0;
  text-align: center;
  background-color: #efefef;
  font-size: .8em;
  color: #444;
  position:relative
}

.parent {
    position: relative;
    top:80px;
    left:0;
}

.Tamarysek {
    position: relative;
    height: 100%;
    top:0;
    left:0;
    opacity:0.8;
}

.Kata {
    position: absolute;
    top:60px;
    left:800px;
    border: 3px white solid;
}

.zahlavi {
    margin-top: 150px;
    font: 20px 'Pacifico', sans-serif;
    color: #697363;
    text-align: center;
    letter-spacing: 1px;
}

.portfolio_uvod {
    margin-top: 150px;
    margin-bottom: 30px;
    color: #697363;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

.sluzby{
  background-color: #363027;
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  display: center;
  list-style: none;
  letter-spacing: 1px;
  }

.pribeh{
  text-align: center;
  letter-spacing: 1px;
}

.sluzby ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  }

.popis li {
  width: 33.333%;
  padding: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top:16px;
  margin-bottom: 16px;
  border:1px solid white;
  letter-spacing: 1px;
}

.kontakt {
color: white;
font-family: 'Poppins', sans-serif;
text-align: center;
background-color: #697363;
margin-top: -20px;
padding: 40px;
}

.h2{
text-align: center;
}

a:hover {
  color: rgb(225, 177, 33);
}

a:visited {
  color: rgb(70, 7, 8);